.main{
    background-color: rgb(10, 2, 27);
    max-width: 100%;
    /* margin: auto; */

}
h1,h2,p{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#name_input{
    width: 100px;
}
.info_character{
    display: flex;
    flex-wrap: wrap
}